#profile_cont{
    display: flex;
    flex-direction: column;
    padding:100px;

}
#image_size{
    height:200px;
    width:200px;
}
.row{
    display: flex;
   
}
.col-lg-4{
    padding:50px;
    display: flex;
   
}
#testimo{
    padding:20px;
  

}