.image_warp{
    position:absolute;
    height:40%;
    width:100%;
    border:none;
    margin:0;
    padding: 0;
}
#signup{
    position: relative;
   display: flex;
   flex-wrap: wrap;
   padding-right:20px;
}
.col-xl-6{
    display: flex;
    flex-direction:column;
    margin:auto;
   padding:10px;
   height:100%;
   width:100%;
}
#sec_cont{
  display:flex;
  justify-content: center;
  margin-top:40px;

}
